---
layout: default
---
<div class="hero-bg">
  {% include home_nav.html %}
  {% include home_header.html %}
</div>

<div class="container-wrapper grey-bg white-bottom-border">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="service-desc-margin">
          <img src="assets/desk.png"/>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="service-desc-margin">
          <p class="service-desc">There is a tremendous amount of inefficiency when it comes to how organizations make critical decisions. Regardless if a hierarchy or flat organizational design is utilized, there are always problems with obtaining enough information and collective input to make effective judgments.</p>
         <p>RightGuide solves this problem by providing a collaborative platform for submitting proposals, which can be ranked through any easy voting process by any member of your organization. Our business intelligence capabilities can help identify trends, signal warnings, and give a complete historical summary of each decision.</p>
        </div>
      </div>
    </div>
  </div>

<div class="container-wrapper white-bg">
  <div class="container">
    <div class="row">
      <div class="service-desc-margin">
        <div class="text-center">
          <h2>Make better informed, collaborative, and exceptional decisions today. </h2><br/><a href="/contact" class="btn btn-primary btn-lg">Sign Up For Our Alpha Launch</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-wrapper grey-bg">
  <div class="container">
    <div class="row">
      <div class="service-desc-margin">
      <h2 class="text-center">How It Works</h2>
      <ul class="icon-list clearfix">
        <li class="col-md-4 col-sm-6 col-xs-12">
          <h3><a href="#">Step 1: Portfolios</a></h3>
          <p>A portfolio is a container for all proposals you want to be rated and voted on a specfic way. Think of it as a way to categorize your proposals.</p>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12">
          <h3><a href="#">Step 2: Factors</a></h3>
          <p>Factors are the criteria you will use to rank each proposal. Each factor can have a list of options that voter will be able to choose from.</p>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12">
          <h3><a href="#">Step 3: Proposals</a></h3>
          <p>Once the group is made available to your team, users can submit proposals for voting. Proposals can be links to other web pages or uploaded documents.</p>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12">
          <h3><a href="#">Step 4: Discussions</a></h3>
          <p>Voters and followers have the opportunity to review each proposal and ask questions in discussion forums to clarify their understanding.</p>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12">
          <h3><a href="#">Step 5: Voting</a></h3>
          <p>Voting consists of ranking each proposal based upon the factors provided. Previously ranked proposals can be re-prioritized as new proposals are submitted.</p>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12">
          <h3><a href="#">Step 6: Analysis</a></h3>
          <p>Utilize business intelligence to identify trends, opporunities, and warnings automatically to help everyone make the best decisions possible.</p>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>
</div>
