---
layout: default
---
<div class="hero-bg">
  {% include home_nav.html %}
  {% include home_header.html %}
</div>

<div class="container-wrapper grey-bg white-bottom-border">
  <div class="container">
    <div class="row">
      <div class="service-desc-margin">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7" id="your-customer">
          <h1>Who really is your customer?</h1>
          <p class="service-desc">Identifying your customers is challenging. Validating your assumptions about those customers is exhausting. Keeping everyone in your organization continuously updated with changing customer insights can seem nearly impossible. When your organziation is not aligned about the details of your target customers, it can cause tremendous problems.</p>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-lg-offset-1">
         <ul class="issue-list fa-ul">
           <li><i class="fa-li fa fa-2x fa-exclamation-triangle" aria-hidden="true"></i>Marketing creates confusing branding and messaging</li>
           <li><i class="fa-li fa fa-2x fa-exclamation-triangle" aria-hidden="true"></i>Product development builds useless products and services</li>
           <li><i class="fa-li fa fa-2x fa-exclamation-triangle" aria-hidden="true"></i>Sales wastes time talking to the wrong customers</li>
           <li><i class="fa-li fa fa-2x fa-exclamation-triangle" aria-hidden="true"></i>Operations implodes trying to support too many different types of customers</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
<div class="container-wrapper white-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
        <div class="service-desc-margin" id="services">
          <h1>How we can help</h1>
          <p class="service-desc">We developed  an innovative methodology for creating dynamic customer profiles, which evolve based upon continuous discovery, development, and delivery feedback processes. Imagine sharing this information with every team in your organization. No more confusion or wasted time and money.</p>
          <p class="service-desc">To create dynamic profiles, we start by identifying a target individual from a valuable market and build cases with specific goals that your product or service will fulfill. Every goal is documented with extensive assumptions that are only validated when factual proof has been uncovered.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
        <div class="service-desc-margin">
          <img src="assets/desk.png"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-wrapper grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 section-title">
        <h1 class="text-center">The dynamic customer profile components</h1>
      </div>
    </div>
    <div class="row">
      <div class="components">
        <div class="col-md-4 col-sm-6 col-xs-12 component">
          <div class="text-center">
            <i class="fa fa-user fa-4x"></i>
            <h3>Personas</h3>
          </div>
          <p>The persona includes all relevant demographic and personal information that would pertain to your target customer.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 component">
          <div class="text-center">
            <i class="fa fa-briefcase fa-4x"></i>
            <h3>Cases</h3>
          </div>
          <p>Cases are added to the persona to showcase specific scenarios where your customer would find value with your product or service.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 component">
          <div class="text-center">
            <i class="fa fa-bullseye fa-4x"></i>
            <h3>Goals</h3>
          </div>
          <p>Based on the cases outlined, goals are identified to prioritize what is most important to the customer you are profiling.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 component">
          <div class="text-center">
            <i class="fa fa-comment fa-4x"></i>
            <h3>Assumptions</h3>
          </div>
          <p>Critical assumptions are added to each goal, which are then ranked and scored depending on how important they are to the goal.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 component">
          <div class="text-center">
            <i class="fa fa-lightbulb-o fa-4x"></i>
            <h3>Signals</h3>
          </div>
          <p>Signals are the facts collected through research and data gathering to determine if an assumption and related goal are valid.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 component">
          <div class="text-center">
            <i class="fa fa-line-chart fa-4x"></i>
            <h3>Analysis</h3>
          </div>
          <p>Every great profile includes multiple layers of analysis using our proprietary algorithms to help you identify insightful trends.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container-wrapper white-bg">
  <div class="container">
    <div class="row">
      <div class="text-center section-title">
        <h2>Make better informed, collaborative, and exceptional decisions today. </h2><br/>
        <div class="contact-button">
          <a href="/contact" class="btn btn-primary btn-lg">Contact Us Today</a>
        </div>
      </div>
    </div>
  </div>
</div>
