<div class="expertise-option">
  <div class="box">
    <i class="fa fa-cubes fa-title"></i>
    <h4 class="padding-top-15">About RightGuide</h4>
    <p class="box-desc text-left">RightGuide is the best collaboration platform for organizing, prioritizing, and voting on your most important business proposals. From determining the priority of critical projects, to finding consensus on the next set of great features for your products, RightGuide can help your team collaboratively make the very best prioritization decisions.</p>

  </div>
</div>
