<div class="expertise-option">
  <div class="box">
    <i class="fa fa-cubes fa-title"></i>
    <h4 class="padding-top-15">About BloomShape</h4>
    <p class="box-desc text-left">BloomShape specializes in creating dynamic customer profiles that turn assumption-based personas into validated buyer profiles. We provide the following services:</p>
    <br/>
    <ul class="text-left fa-ul service-list">
      <li><i class="fa-li fa fa-lg fa-angle-double-right" aria-hidden="true"></i>Consulting</li>
      <li><i class="fa-li fa fa-lg fa-angle-double-right" aria-hidden="true"></i>Coaching</li>
      <li><i class="fa-li fa fa-lg fa-angle-double-right" aria-hidden="true"></i>Research</li>
    </ul>
    <p class="text-left"><a href="/contact"> Contact us </a>today to learn more how we can help your organization build a shared, detailed, and ongoing understanding of your target customers</p>
  </div>
</div>
