<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <div class="expertise-option">
    <div class="box">
      <i class="fa fa-cubes fa-title"></i>
      <h4 class="padding-top-15">Key Features</h4>
      <ul class="fa-ul list-group clearfix deliverable-list">
        <li class="list-group-item"><i class="fa fa-file fa-fw"></i>&nbsp;&nbsp;Groups</li>
        <li class="list-group-item"><i class="fa fa-map fa-fw"></i>&nbsp;&nbsp;Product Roadmaps</li>
        <li class="list-group-item"><i class="fa fa-files-o fa-fw"></i>&nbsp;&nbsp;Specifications</li>
        <li class="list-group-item"><i class="fa fa-eye fa-fw"></i>&nbsp;&nbsp;Strategic Vision Briefs</li>
        <li class="list-group-item"><i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;Customer Analysis</li>
        <li class="list-group-item"><i class="fa fa-area-chart fa-fw"></i>&nbsp;&nbsp;Market Studies</li>
      </ul>
    </div>
  </div>
</div>
