<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-item">
          <h3>Articles & Reading List</h3>
          <ul class="popular-posts">
            {% for post in site.posts %}
              <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-item">
          <h3>Our Services</h3>
          <p>Our team specializes in uncovering new insights about your customers, and sharing that information throughout your organization. <a href="/contact">Contact us</a> today to see how we can help.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-item" style="margin-left:15px;">
          <h3>About BloomShape</h3>
          <ul class="footer-menu">
            <li><a href="/#your-customer"><i class="fa fa-caret-right"></i>&nbsp;&nbsp;The Challenge</a></li>
            <li><a href="/#solution"><i class="fa fa-caret-right"></i>&nbsp;&nbsp;Our Solution</a></li>
            <li><a href="/blog"><i class="fa fa-caret-right"></i>&nbsp;&nbsp;Articles & Reading List</a></li>
            <li><a href="/contact"><i class="fa fa-caret-right"></i>&nbsp;&nbsp;Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="copyright">
        <div class="col-lg-12">
          <div class="pull-left">
            <p>Copyright 2016 BloomShape. All Rights Reserved.</p>
          </div>
          <div class="pull-right">
            <p>Customer Analysis Perfected.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
