<nav class="navbar navbar-static-top" role="navigation" id="nav">
  <div class="container full-width-container nav-border">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <i class="fa fa-cubes fa-title"></i>
        <strong>Right</strong>Guide
      </a>
    </div>
    <div class="navbar-collapse collapse text-center">
      <ul class="nav navbar-nav slow-scrolling-navlinks navbar-right">
        <li><a href="#your-customer" class="scroll-smooth">What We Do</a></li>
        <li><a href="#services" class="scroll-smooth">Services</a></li>
        <li><a href="/blog" class="scroll-smooth">Blog</a></li>
        <li><a href="/contact" class="scroll-smooth pill">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
