<header class="header container container-wrapper animate-to-animate home-header">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <h1 class="hero-heading">Customer Analysis Perfected.</h1>
    <h3 class="hero-summary">Imagine if everyone in your organization always knew your target customers, and how your offering supported their constantly evolving needs. We can help make this a reality.</h3>
    <br/>
    <p class="hero-action">
      <a href="#your-customer" class="hero-link">Click Here To Learn More</a>
    </p>
    <br/>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="hero-img">
    <img src="assets/table.png" class="hero-move"/>
  </div>
</header>
